html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  transition: all 250ms ease-in-out;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a {
  text-decoration: none;
  color: #000;
  transition: color 0.5s ease;
}

a:hover {
  color: #6200EA;
}

.wrapper {
  width: 70%;
  margin: auto;
}

.wrapper.footer {
  border-bottom: none;
}

.top-section {
  padding-top: 50px;
  padding-bottom: 40px;
  margin-bottom: 50px;
  border-bottom: 1px solid #4b4b4b;
}

.contact-info ul {
  margin: 0;
}

.contact-info li {
  text-align: right;
  list-style-type: none;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  line-height: 25px;
}

.contact-info li:first-child {
  font-family: "Libre Franklin", sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo {
  background: url(../images/hali-logo.png) no-repeat;
  background-size: contain;
  height: 60px;
  width: 60px;
  margin-right: 0;
  transition: opacity 0.5s ease;
  float: left;
}

.logo:hover {
  opacity: 0.7;
}

.project {
  width: 48%;
  margin-bottom: 30px;
  transition: width 0.5s ease;
}

.project:hover {
  background: #fff;
}

.project img {
  width: 100%;
  transition: opacity 0.5s ease;
}

.project img:hover {
  opacity: 0.7;
}

.project-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.projects-section h1, .projects-section h2, .experience-section h1, .experience-section h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

.projects-section h1, .about-section h1, .experience-section h1 {
  font-family: 'Libre Franklin', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.5px;
  margin-bottom: 30px;
}

.projects-section {
  border-bottom: 1px solid #4b4b4b;
}

.about-section h2, .projects-section h2, .experience-section h2 {
  font-size: 16px;
}

.about-section {
  padding-bottom: 50px;
  border-bottom: 1px solid #4b4b4b;
}

.about-section p {
  width: 75%;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 25px;
}

.detail {
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 15px;
}

ul.detail  {
  margin: 0;
  padding: 0 0 20px 0;
}

.detail li {
  display: inline;
}

.detail li:after {
  content: ' / ';
}

.detail li:last-child:after {
  content: '';
}

.info {
  margin-top: 30px;
}

.projects-section {
  padding: 50px 0;
}

.projects-section p, .experience-section p {
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  line-height: 25px;
}

.project-view {
  width: 57%;
  height: 100vh;
  position: fixed;
  background: turquoise;
  right: 0;
  left: 100%;
  transition: right 0.5s ease;
  transition: left 0.5s ease;
}

.project-view .exit {
  color: #fff;
  display: block;
  margin: 20px;
  font-size: 25px;
  cursor: pointer;
}

.contact .email {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.experience-section {
  margin-top: 50px;
  margin-bottom: 50px;
}

.experience {
  margin-bottom: 60px;
}

.experience span {
  font-weight: 700;
}

.download-button {
  margin: 50px;
  text-align: center;
}

.download-button a {
  padding: 18px 28px 18px 28px;
  background: #6200EA;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 12px;
  transition: background-color 0.5s ease;
}

.download-button a:hover {
  background: #000;
}

.footer {
  margin-top: 50px;
  padding-bottom: 30px;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  text-align: center;
}

.footer a {
  padding: 5px;
}

.footer .logo {
  display: none;
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1080px) {

  .contact-info {
    text-align: left;
  }

  .projects-section {
    float: none;
    width: 100%;
  }

  .footer div.contact-info {
    text-align: center;
  }

}

@media only screen and (max-width : 850px) {

  .download-button {
    text-align: center;
  }

  .project {
    width: 100%;
  }

  .about-section p {
    width: 100%;
    transition: width 0.5s ease;
  }
}


@media only screen and (max-width : 540px) {

  .logo {
    float: none;
    display: none;
  }

  .contact-info li, .contact-info ul {
    text-align: left;
    padding-left: 0;
  }

  .download-button a {
    font-size: 8px;
  }

  .footer .logo {
    display: inline;
    width: 100px;
  }
}
