/*font-family: 'Roboto Mono', monospace;
font-family: 'Libre Franklin', sans-serif;*/

body {
  
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover {
  background: #6200EA;
  color: #ffffff;
  padding: 2px 0 2px 0;
}

.container {
  width: 60%;
  margin: auto;
}

header {
  padding-top: 50px;
  margin-bottom: 100px;
}

header a {
  padding-bottom: 100px;
}

header .logo {
  background: url(../images/hali-logo.png) no-repeat;
  background-size: 100px;
  background-position: cover;
  height: 100px;
  width: 100px;
}

main {
  margin-bottom: 100px;
}

main h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 700;
  margin-top: 0;
}

main h3 {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

main p {
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 50px;
  line-height: 24px;
}

main section {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #000;
}

main .projects ul {
  padding: 0;
}

  main .projects li {
    list-style: none;
  }

.contact h2 {
  text-align: center;
}

.contact .email {
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.contact ul {
  padding: 20px 0 0 0;
  text-align: center;
  margin-bottom: 0;
}

.contact li {
  display: inline;
  padding-right: 20px;
}

.social media {

}

/*#project-1 {
  background: url('../images/windows-1076116_1920.jpg') no-repeat;
  background-size: cover;
}*/

@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}
